a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_3f917b9b a { text-decoration: none; }
#menu_3f917b9b_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3f917b9b_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_3f917b9b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3f917b9b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3f917b9b_entry:hover span { color:#FFFFFF !important; }
		.menu_3f917b9b_mainMenuEntry { text-align: center; }
		.menu_3f917b9b_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_3f917b9b_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3f917b9b .mobileEntry { display: none; } 
		#menu_3f917b9b .normalEntry { display: block; } 
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_65a73622 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_65a73622_padding { margin: 10px; display: block;  }
#container_17435cc4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_3f917b9b { vertical-align: bottom; position:relative; display: inline-block; width:125px; height:47px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:47px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_3eb5e884 { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#container_23e3ff70 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFFFF; background-image: url(rc_images/notebook.jpg); background-position:bottom left; background-size:cover;  }
#container_23e3ff70_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_161f468c { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.498039);  }
#container_161f468c_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_73cc2683 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_73cc2683_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#button_28bf72c1 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#0D3974;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_5a6d122 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:907px; background:none;  }
#container_5a6d122_padding { margin: 10px; display: block;  }
#container_5819234c { vertical-align: top; position:relative; display: inline-block; width:98%; min-height:574px; background:none;  }
#container_5819234c_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#img_76da710e { box-sizing: border-box; position:absolute; left:6%; top:12%; width:88%; background:none; border-top: 1px solid #404040; border-left: none; border-right: none; border-bottom: none; height:auto;  }
#container_29b8819a { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#BDBDBD; background: linear-gradient(to bottom, #F5F5F5, #BDBDBD); border: 1px solid #545454;  }
#container_29b8819a_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle12 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle13 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
#container_9e1def3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_9e1def3_padding { margin: 10px; display: block;  }
#container_52ee68b9 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_52ee68b9_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_4a4c3708 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_4a4c3708_padding { margin: 10px; display: block;  }
#container_3ac4c3e0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3ac4c3e0_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 800px)
{
		#container_5819234c { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#menu_3f917b9b { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_52ee68b9 { width:100%;  }
		#container_4a4c3708 { width:100%;  }
		#container_3ac4c3e0 { width:100%;  }
}
