a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_2ed20a05 a { text-decoration: none; }
#menu_2ed20a05_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2ed20a05_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_2ed20a05_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2ed20a05_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_2ed20a05_entry:hover span { color:#FFFFFF !important; }
		.menu_2ed20a05_mainMenuEntry { text-align: center; }
		.menu_2ed20a05_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_2ed20a05_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_2ed20a05 .mobileEntry { display: none; } 
		#menu_2ed20a05 .normalEntry { display: block; } 
#button_41514d99 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#BC9770; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.27451);  }
#button_41514d99:hover { background-color:#8F683E;  }
#button_41514d99:hover span { color:#CDCDCD; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5c000d31 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_5c000d31_padding { margin: 10px; display: block;  }
#container_389feffb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_2ed20a05 { vertical-align: bottom; position:relative; display: inline-block; width:125px; height:47px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:47px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_316d5227 { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#container_33ef7de2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFFFF; background-image: url(rc_images/notebook.jpg); background-position:bottom left; background-size:cover;  }
#container_33ef7de2_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_11c0f582 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.498039);  }
#container_11c0f582_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_278e0e4c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_278e0e4c_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_60406e3f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:335px; background:none;  }
#container_60406e3f_padding { margin: 10px; display: block;  }
#container_1e8385b { vertical-align: top; position:relative; display: inline-block; width:64%; min-height:642px; background:none;  }
#container_1e8385b_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#img_22b20da6 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_764b5da5 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:528px; background:none;  }
#container_764b5da5_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle13 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_437520f8 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#pdf_1831806 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:700px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#button_1a0de39a { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#0D3974;  }
#container_792a43c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_792a43c9_padding { margin: 10px; display: block;  }
#container_12b10353 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_12b10353_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle18 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_1c9aba35 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_1c9aba35_padding { margin: 10px; display: block;  }
#container_6f2de838 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_6f2de838_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 800px)
{
		#container_1e8385b { width:100%;  }
		#container_764b5da5 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#menu_2ed20a05 { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_12b10353 { width:100%;  }
		#container_1c9aba35 { width:100%;  }
		#container_6f2de838 { width:100%;  }
}
