a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_11886076 a { text-decoration: none; }
#menu_11886076_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_11886076_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_11886076_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_11886076_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_11886076_entry:hover span { color:#FFFFFF !important; }
		.menu_11886076_mainMenuEntry { text-align: center; }
		.menu_11886076_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_11886076_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_11886076 .mobileEntry { display: none; } 
		#menu_11886076 .normalEntry { display: block; } 
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_149edc9c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_149edc9c_padding { margin: 10px; display: block;  }
#container_33ab7473 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_11886076 { vertical-align: bottom; position:relative; display: inline-block; width:71px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_7d581cae { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#container_3bf16073 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_3bf16073_padding { margin: 10px; display: block;  }
#button_381c1eba { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#0D3974;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_59afa598 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:745px; background:none; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.392157);  }
#container_59afa598_padding { margin: 10px; display: block;  }
#container_6409f847 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:656px; background:none;  }
#container_6409f847_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
#video_479e85b6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:98%; height:590px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_b7b28e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_b7b28e3_padding { margin: 10px; display: block;  }
#container_74acef95 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_74acef95_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_657642d1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_657642d1_padding { margin: 10px; display: block;  }
#container_153d0912 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_153d0912_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_6409f847 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#menu_11886076 { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_74acef95 { width:100%;  }
		#container_657642d1 { width:100%;  }
		#container_153d0912 { width:100%;  }
}
