a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_ef4a769 a { text-decoration: none; }
#menu_ef4a769_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_ef4a769_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_ef4a769_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_ef4a769_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_ef4a769_entry:hover span { color:#FFFFFF !important; }
		.menu_ef4a769_mainMenuEntry { text-align: center; }
		.menu_ef4a769_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_ef4a769_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_ef4a769 .mobileEntry { display: none; } 
		#menu_ef4a769 .normalEntry { display: block; } 
#button_334c4efe { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background-color:#BC9770; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.27451);  }
#button_334c4efe:hover { background-color:#8F683E;  }
#button_334c4efe:hover span { color:#CDCDCD; }
#button_282c87da { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_282c87da:hover { background-color:#DFDFDF;  }
#button_282c87da:hover span { color:#000000; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_34a6091f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_34a6091f_padding { margin: 10px; display: block;  }
#container_4adde217 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#800080;  }
#container_4adde217_padding { margin: 10px; display: block;  }
#container_35713d11 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_ef4a769 { vertical-align: bottom; position:relative; display: inline-block; width:71px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_2070516c { position:absolute; left:36%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_262538db { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:837px; background:none; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.392157);  }
#container_262538db_padding { margin: 10px; display: block;  }
#pdf_54bf6d2a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:101%; height:810px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#800040; font-weight:bold;  }
.textstyle9 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_265f75a2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_265f75a2_padding { margin: 10px; display: block;  }
#container_7dc472de { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7dc472de_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_12d6bde9 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_12d6bde9_padding { margin: 10px; display: block;  }
#container_24bd5442 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_24bd5442_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 600px)
{
		#menu_ef4a769 { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_7dc472de { width:100%;  }
		#container_12d6bde9 { width:100%;  }
		#container_24bd5442 { width:100%;  }
}
