a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_6f510895 a { text-decoration: none; }
#menu_6f510895_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6f510895_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_6f510895_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6f510895_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6f510895_entry:hover span { color:#FFFFFF !important; }
		.menu_6f510895_mainMenuEntry { text-align: center; }
		.menu_6f510895_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_6f510895_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6f510895 .mobileEntry { display: none; } 
		#menu_6f510895 .normalEntry { display: block; } 
#button_50c906c2 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_50c906c2:hover { background-color:#DFDFDF;  }
#button_50c906c2:hover span { color:#000000; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_594183a4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_594183a4_padding { margin: 10px; display: block;  }
#container_6e25ee6f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_6e25ee6f_padding { margin: 10px; display: block;  }
#container_16337b5f { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_6f510895 { vertical-align: bottom; position:relative; display: inline-block; width:71px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_4c287355 { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#button_6a7f7eaa { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#0D3974;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_66a77ee4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:837px; background:none; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.392157);  }
#container_66a77ee4_padding { margin: 10px; display: block;  }
#pdf_281fe99 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:101%; height:810px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#800040; font-weight:bold;  }
.textstyle9 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_29fc6b91 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_29fc6b91_padding { margin: 10px; display: block;  }
#container_4f2cba3f { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_4f2cba3f_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_47d39fd6 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_47d39fd6_padding { margin: 10px; display: block;  }
#container_4647d581 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_4647d581_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 600px)
{
		#menu_6f510895 { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_4f2cba3f { width:100%;  }
		#container_47d39fd6 { width:100%;  }
		#container_4647d581 { width:100%;  }
}
