a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_8980bcc a { text-decoration: none; }
#menu_8980bcc_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_8980bcc_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_8980bcc_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_8980bcc_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_8980bcc_entry:hover span { color:#FFFFFF !important; }
		.menu_8980bcc_mainMenuEntry { text-align: center; }
		.menu_8980bcc_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_8980bcc_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_8980bcc .mobileEntry { display: none; } 
		#menu_8980bcc .normalEntry { display: block; } 
#menu_234fa97b a { text-decoration: none; }
#menu_234fa97b_pane { background-color: #AA8150; border: 1px solid #AA8150; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_234fa97b_hr { background-color: #AA8150; height: 1px; border: none; }
#menu_234fa97b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_234fa97b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_234fa97b_entry:hover span { color:#FFFFFF !important; }
		.menu_234fa97b_mainMenuEntry { text-align: center; }
		.menu_234fa97b_mainMenuEntry:hover {	background-color:#504013; }
		.menu_234fa97b_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_234fa97b .mobileEntry { display: none; } 
		#menu_234fa97b .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_234fa97b .mobileEntry { display: block; } 
			#menu_234fa97b .normalEntry { display: none; } 
		}
#table_5e6975ff th { border: 1px solid #8C8C8C;  } 
#table_5e6975ff td { border: 1px solid #8C8C8C;  } 
#table_53c17b29 th { border: 1px solid #8C8C8C;  } 
#table_53c17b29 td { border: 1px solid #8C8C8C;  } 
		@media only print 
		{
			#elem_4ba7bea6 { visibility: hidden; } /* print button */ 
		}
#button_21012002 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:10px; width:200px; height:28px; background-color:#7F7F7F;  }
#button_21012002:hover { background-color:#6E6E6E;  }
#button_21012002:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_eaea99e_padding { margin: 10px; display: block;  }
#container_d695c69 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_8980bcc { vertical-align: bottom; position:relative; display: inline-block; width:125px; height:47px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:47px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_29a689e6 { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#menu_234fa97b { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#959595;  }
.menustyle2 { position:absolute; width:85px; height:55px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:98px; height:55px; left:95px;  }
.menustyle4 { position:absolute; width:174px; height:55px; left:193px;  }
.menustyle5 { position:absolute; width:85px; height:55px; left:367px;  }
.menustyle6 { position:absolute; width:85px; height:55px; left:452px;  }
.menustyle7 { position:absolute; width:99px; height:55px; left:537px;  }
.menustyle8 { position:absolute; width:113px; height:55px; left:636px;  }
.menustyle9 { position:absolute; width:97px; height:55px; left:749px;  }
.textstyle8 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_6a5612c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFFFF; background-image: url(rc_images/notebook.jpg); background-position:bottom left; background-size:cover;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_1de1103f { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.498039);  }
#container_1de1103f_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_22e4a421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_22e4a421_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_470ac4dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:563px; background:none;  }
#container_470ac4dd_padding { margin: 10px; display: block;  }
#container_5c19d71c { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:550px; background:none;  }
#container_5c19d71c_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle15 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
#container_367bebf6 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:470px; background-color:#FFFFFF;  }
#container_367bebf6_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#408080;  }
.textstyle17 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#408080; font-weight:bold;  }
.textstyle18 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
#container_9e8f6cb { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:559px; background:none;  }
#container_9e8f6cb_padding { margin: 10px; display: block;  }
#img_1bf540d3 { vertical-align: bottom; position:relative; display: inline-block; width:96%; background:none; height:auto;  }
#container_626e4233 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:294px; background:none;  }
#container_626e4233_padding { margin: 10px; display: block;  }
#table_5e6975ff { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:30px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_13c9e25a {  }
.textstyle19 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#0080FF; font-weight:bold;  }
.textstyle20 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle21 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#table_53c17b29 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:83%; height:115px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_3ed1db06 {  }
.textstyle22 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#800040;  }
#cell_35c328c9 {  }
.textstyle23 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF;  }
#cell_29677850 {  }
.textstyle24 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF80C0; font-weight:bold;  }
#cell_7803b8b1 {  }
.textstyle25 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#cell_6779c72 {  }
.textstyle26 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#008040;  }
#cell_1ee20c64 {  }
.textstyle27 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#004000;  }
#cell_1f3203a9 {  }
.textstyle28 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#808040; font-weight:bold;  }
#cell_5f4e8a6d {  }
.textstyle29 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#408080; font-weight:bold;  }
#text_23e78b93 { position:absolute; left:0%; top:0%; width:100%; height:100%; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_5abfa5b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:105px; background-color:#9C9C9C;  }
#container_5abfa5b_padding { margin: 10px; display: block;  }
.textstyle30 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
.textstyle31 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_6485017a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6485017a_padding { margin: 10px; display: block;  }
#container_66281d83 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_66281d83_padding { margin: 10px; display: block;  }
.textstyle32 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle33 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_4132943e { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_4132943e_padding { margin: 10px; display: block;  }
#container_45a28d37 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_45a28d37_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 800px)
{
		#container_5c19d71c { width:100%;  }
		#container_9e8f6cb { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#menu_8980bcc { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_66281d83 { width:100%;  }
		#container_4132943e { width:100%;  }
		#container_45a28d37 { width:100%;  }
}
