a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_3892caa9 a { text-decoration: none; }
#menu_3892caa9_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3892caa9_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_3892caa9_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3892caa9_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3892caa9_entry:hover span { color:#FFFFFF !important; }
		.menu_3892caa9_mainMenuEntry { text-align: center; }
		.menu_3892caa9_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_3892caa9_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3892caa9 .mobileEntry { display: none; } 
		#menu_3892caa9 .normalEntry { display: block; } 
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3dcb90c1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_3dcb90c1_padding { margin: 10px; display: block;  }
#container_9a7b9c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#9C9C9C;  }
.textstyle2 { text-align:left; }
#menu_3892caa9 { vertical-align: bottom; position:relative; display: inline-block; width:125px; height:36px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:49px; height:36px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#text_49ab8ec4 { position:absolute; left:45%; top:34%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#004000; font-weight:bold;  }
#container_c6641e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFFFF; background-image: url(rc_images/notebook.jpg); background-position:bottom left; background-size:cover;  }
#container_c6641e8_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_186163be { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.498039);  }
#container_186163be_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
#container_790e906b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_790e906b_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; font-weight:bold; line-height: 1.2;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
#container_2be7bc8d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:536px; background:none;  }
#container_2be7bc8d_padding { margin: 10px; display: block;  }
#pdf_5f73c3c1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:50%; height:517px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#pdf_6d9afc3c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:50%; height:517px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#button_4f58eb8e { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#0D3974;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_1dd26cd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1dd26cd_padding { margin: 10px; display: block;  }
#container_44bdc134 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_44bdc134_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_10db2fb0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_10db2fb0_padding { margin: 10px; display: block;  }
#container_52d54537 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_52d54537_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#menu_3892caa9 { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_44bdc134 { width:100%;  }
		#container_10db2fb0 { width:100%;  }
		#container_52d54537 { width:100%;  }
}
